.indexPage {
  background: #208FE3
}

.title {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.subTitle {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.enterBtn {
  width: 60vw;
}

.headerBg {
  margin-top: 100px;
  width: 100vw;
}
